In [28]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [3]:
# reading the file
df = pd.read_csv('https://cocl.us/concrete_data')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [13]:
# creating new df's for analysis
concrete_data_columns = df.columns # saving lumns for splitting data
X = df[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
y = df['Strength'] # strength column

In [14]:
X.head() #checking predictors

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [15]:
y.head() # checking the target variables

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [11]:
n_cols = predictors.shape[1] # number of predictors

## Assignment A

In [22]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [17]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.3, random_state=3)

In [39]:
# build model
model = regression_model()

In [46]:
mse_list = [] # empty list for MSE

for i in range(50): # running 50 iterations (not on the same model, since that would just be like running 2500 epochs)
    X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.3, random_state=3) # splitting training data
    model = regression_model() # rebuilding model for every iteration within loop, otherwise the model would continously improve (just like adding more epochs)
    model.fit(X_trainset, y_trainset, validation_data=(X_testset, y_testset), epochs=50, verbose=0) # training model
    prediction = model.predict(X_testset) # making the prediction
    mse_list.append(metrics.mean_squared_error(y_testset, prediction)) # appending the MSE to the list

In [47]:
print('The mean of the 50 MSE is: {}, with a standard deviation of {}'. format(np.mean(mse_list), np.std(mse_list)))

The mean of the 50 MSE is: 361.0309889464532, with a standard deviation of 437.5327861511041

## Assignment B

In [48]:
X_norm = (X - X.mean()) / X.std()
X_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [50]:
mse_list = [] # empty list for MSE

for i in range(50): # running 50 iterations (not on the same model, since that would just be like running 2500 epochs)
    X_trainset, X_testset, y_trainset, y_testset = train_test_split(X_norm, y, test_size=0.3, random_state=3) # splitting training data
    model = regression_model() # rebuilding model for every iteration within loop, otherwise the model would continously improve (just like adding more epochs)
    model.fit(X_trainset, y_trainset, validation_data=(X_testset, y_testset), epochs=50, verbose=0) # training model
    prediction = model.predict(X_testset) # making the prediction
    mse_list.append(metrics.mean_squared_error(y_testset, prediction)) # appending the MSE to the list

In [51]:
print('The mean of the 50 MSE is: {}, with a standard deviation of {}'. format(np.mean(mse_list), np.std(mse_list)))

The mean of the 50 MSE is: 370.5475401052167, with a standard deviation of 92.55387658681443

## Assignment C

In [52]:
# using 100 epochs instead

mse_list = [] # empty list for MSE

for i in range(50): # running 50 iterations (not on the same model, since that would just be like running 5000 epochs)
    X_trainset, X_testset, y_trainset, y_testset = train_test_split(X_norm, y, test_size=0.3, random_state=3) # splitting training data
    model = regression_model() # rebuilding model for every iteration within loop, otherwise the model would continously improve (just like adding more epochs)
    model.fit(X_trainset, y_trainset, validation_data=(X_testset, y_testset), epochs=100, verbose=0) # training model
    prediction = model.predict(X_testset) # making the prediction
    mse_list.append(metrics.mean_squared_error(y_testset, prediction)) # appending the MSE to the list

In [53]:
print('The mean of the 50 MSE is: {}, with a standard deviation of {}'. format(np.mean(mse_list), np.std(mse_list)))

The mean of the 50 MSE is: 171.45614171917939, with a standard deviation of 15.484960582837004

## Assignment D

In [54]:
# adding 2 hidden layers with 10 nodes each

# define regression model
def new_regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [55]:
mse_list = [] # empty list for MSE

for i in range(50): # running 50 iterations (not on the same model, since that would just be like running 2500 epochs)
    X_trainset, X_testset, y_trainset, y_testset = train_test_split(X_norm, y, test_size=0.3, random_state=3) # splitting training data
    model = new_regression_model() # rebuilding model for every iteration within loop, otherwise the model would continously improve (just like adding more epochs)
    model.fit(X_trainset, y_trainset, validation_data=(X_testset, y_testset), epochs=50, verbose=0) # training model
    prediction = model.predict(X_testset) # making the prediction
    mse_list.append(metrics.mean_squared_error(y_testset, prediction)) # appending the MSE to the list

In [56]:
print('The mean of the 50 MSE is: {}, with a standard deviation of {}'. format(np.mean(mse_list), np.std(mse_list)))

The mean of the 50 MSE is: 138.5432776185204, with a standard deviation of 13.073685288218302